.match-card-container {
  background-color: #0f172a;
  padding: 18px;
  border-radius: 18px;
  list-style: none;
  /* margin-right: 10px; */
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 190px;
}

.match-card-competing-team-logo {
  height: 50px;
  width: 80px;
}

.match-card-competing-team {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.match-card-result {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.match-status {
  font-family: 'Bree Serif';
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.green-status {
  color: #18ed66;
}

.red-status {
  color: #e31a1a;
}

@media screen and (min-width: 768px) {
  .match-card-container {
    padding: 18px;
    border-radius: 18px;
    margin-bottom: 10px;
    padding: 20px;
    width: 350px;
  }

  .match-card-competing-team-logo {
    height: 200px;
    width: 200px;
  }

  .match-card-competing-team {
    font-size: 28px;
  }

  .match-card-result {
    font-size: 18px;
  }

  .match-status {
    font-size: 22px;
  }
}
